
<ion-view view-title="Informacion">
  <ion-content>
  <img class="full-image" src="img/kavrass.jpg">
  <div class="list">
<div class="item item-body">
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comentarios</a>
  </div>
  
  <div class="item">
    <i class="icon-left ion-beer"></i>
    Musica en vivo-Tragos<p>Baile-Espectaculos</p>
  </div>
  <div class="item">
    <i class="icon-left ion-beer"></i>
    Musica en vivo-Tragos<p>Baile-Espectaculos</p>
  </div>
 <div class="item">
    <i class="icon-left ion-beer"></i>
    Musica en vivo-Tragos<p>Baile-Espectaculos</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comentar
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ios-camera"></i>
      Imagenes
    </a>
  </div>

</div>
  
  </ion-content>
</ion-view>
