<ion-view view-title="DISCOTECAS">
  <ion-content>
    <ion-list>
     
     <a class="item item-thumbnail-left" href="#/app/kavrass">
          <img src="img/kavrass.jpg">
          <h2>La Fama</h2>
          <p>Para un buen fin de sema</p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/kankurua">
          <img src="img/kankurua.jpg">
          <h2>Kankurua</h2>
          <p>Para un buen fin de sema</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="img/kisa.jpg">
          <h2>K!sa</h2>
          <p>Para un buen fin de sema</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="img/lafama.jpg">
          <h2>La Fama</h2>
          <p>Para un buen fin de sema</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="img/mangobiche.JPG">
          <h2>Mango Biche</h2>
          <p>Para un buen fin de sema</p>
        </a>
<a class="item item-thumbnail-left" href="#">
          <img src="img/elroy.jpg">
          <h2>El Roy</h2>
          <p>Para un buen fin de sema</p>
        </a>

    </ion-list>
  </ion-content>
</ion-view>
